name: Metrics
on:
  schedule:
    - cron: "15 05 1 * *"
  workflow_dispatch:
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    environment:
      name: production
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@65836723097537a54cd8eb90f61839426b4266b6 # v3.34
        with:
          token: ${{ secrets.METRICS_TOKEN }}

          user: ${{ github.repository_owner }}
          template: classic
          base: header, activity, community, repositories, metadata
          config_timezone: Europe/Brussels
          plugin_isocalendar: yes
          plugin_isocalendar_duration: half-year
          plugin_languages_analysis_timeout: 15
          plugin_languages_categories: markup, programming
          plugin_languages_colors: github
          plugin_languages_limit: 8
          plugin_languages_recent_categories: markup, programming
          plugin_languages_recent_days: 14
          plugin_languages_recent_load: 300
          plugin_languages_sections: most-used
          plugin_languages_threshold: 0%
          plugin_habits: no
          plugin_habits_facts: no
          plugin_habits_charts: no
  readme-svg:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: Platane/snk@e2cedf76a2c05b25d09a6428ded69727b497a700 # v3.4.1
        id: badger-badger-snake-snake
        name: Generate Snake
        with:
          github_user_name: ${{ github.repository_owner }}
          outputs: |
            github-snake.svg
            github-snake-dark.svg?palette=github-dark
      - name: Commit Snake
        continue-on-error: true
        id: git-commit-snake
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "<>"
          git add github-snake.svg
          git add github-snake-dark.svg
          git commit -m "chore: github-snake.svg - [skip actions]" github-snake.svg github-snake-dark.svg
          git push origin ${{ env.GITHUB_REF_NAME }}
